body {
    background-color: #1f2937;
    font-family: 'Roboto';
    margin: 0;
    
}


.headerspace {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
    gap:420px;
    margin-top:25px;
}

.headerlogo {
    font-size: 24px;
    color: #f0faf8;
}

.headerlinks {
    display: flex;
    gap: 25px;
}
.headerlinks a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.topbox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:100px;
    padding-top:40px;
    padding-bottom:40px;
    
}

.flex-container-left {
    display:flex;
    flex-direction: column;
    gap:25px;

}
.tbtitle {
    font-weight:900;
    font-size: 48px;
    color: #f9faf8;
    flex-wrap: wrap;
    max-width: 450px;
}

.tbtext {
    font-size: 18px;
    color: #E5E7EB;
    flex-wrap: wrap;
    max-width: 450px;
}

button.sign-up {
    width: 90px;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    border: none;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button p{
    font-size: 18px;
    font-weight: 300;
    margin:0;
    padding:0;
}
.tbpicture img {
    width: 400px;
    height: auto;
}

.secondbox {
    background-color: white;
    padding: 40px;
    
}

.sbtitle {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    display:flex;
    justify-content: center;
    align-items: center;;
    padding-bottom:40px;
}

.sb-flex-container {
    display:flex;
    justify-content: center;
    align-items: center;
    gap:60px;
}

.boxcaption {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.boxcaption .box {
    height:150px;
    width:150px;
    border-radius: 15px;
    background-color: #E5E7EB;
    border: 3px solid #3882f6;
}

.boxcaption .caption {
    display:flex;
    max-width: 150px;
    justify-content: center;
    align-items: center;
    text-align: center;   
}

.thirdbox {
    background-color: #e5e7eb;
    padding: 80px;
}

.tb-flex-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:0;
}

.tbquote {
    width:600px;
    font-size: 36px;
    font-style: italic;
    color:#1f2937;
    
}

.tbauthor {
    width:600px;
    text-align: end;
    font-size: 20px;
    font-weight: 900;
    padding-right: 60px;
}

.lastbox {
    background-color: white;
    padding: 100px;
    display:flex;
    justify-content: center;
}

.lb-flexbox-container {
    width:800px;
    background-color: #3882f6;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:75px;
    padding:40px;
}

.lb-flexbox-left {
    display:flex;
    flex-direction: column;
    gap: 10px;
}

.lbtitle {
    font-size: 24px;
    color: #f9faf8;
}

.lbtext {
    font-size: 18px;
    color: #e5e7eb;
}

button.sign-up-2 {
    width: 110px;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    border: 2px solid white;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: #1f2937;
}
.fttext {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    color: #e5e7eb;
}